
#home{
    background-color: ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: url(burger.jpeg);
    background-color: chocolate;
}

#first{
    background-color: #B748B7;
    font-size: 20px;
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 10px;
}
#second{
    background-color: #B74880;
    font-size: 20px;
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 10px;
}

#third{
    background-color: #7F48B7;
    font-size: 20px;
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 10px;
}

#forth{
    background-color: #B74880;
    font-size: 20px;
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 10px;
}

#fifth{
    background-color: #7F48B7;
    font-size: 20px;
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 10px;
}